body {
  background-color: #383249;
}

.align-right {
  text-align: right;
}

.gap {
  width: 100%;
  height: 0.5em;
}

.form {
  width: 100%;
}

.form-control {
  width: 100% !important;
}

.content {
  padding: 1em;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 0.5em 0;
  background-color: #ccc;
}

blockquote {
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
  margin: 10px 0;
}
